@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Portal da PÓS-Tech Fiap - https://on.fiap.com.br/
</address>

<address>
    <strong>E-mail do Aluno:</strong> <a href="mailto:oreisjuniorfilho@gmail.com">oreisjuniorfilho@gmail.com</a><br />
</address>
