@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner2.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Procurando melhorar continuamente e caminhando sempre na busca do crescimento profissional e pessoal.
                    <!--<a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">-->
                        Aprendendo sempre os ensinamentos da vida, bem como atento a seus sinais.  
                    <!--</a>-->
                </p>
            </div>
        </div>
    </div>
</div>


